html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
} 

.canvas .pixel {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 1rem;
}