* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.canvas {
    box-sizing: content-box;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.canvas .pixel:hover {
    background-color: red;
}